:root {
  --font-family: 'Monsterrat', sans-serif;

  --bg-color: #222222;
  --bg-header: #242528;
  --bg-footer: #242528;
  --bg-btn: #242528;
  --bg-block: #242528;
  --black-color: #111111;
  --white-color: #ffffff;
  --gray-color: #cccccc;
  --disabled-color: #878787;
}
